body {
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   /* I want to change the background image to change with the time. so sunrise, morning, noon, afternoon, sunset, night */
   background: url('bg.jpg');
   background-size: cover;
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;
}

h1 {
   letter-spacing: 3px;
   font-size: 24px;
   text-align: center;
   color:rgb(20, 60, 85)
}

.clock {
   display: flex;
}

.clock div {
   margin: 8px;
   position: relative;
}

.clock span {
   width: 100px;
   height: 80px;
   background-color: lightskyblue;
   opacity: .8;
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 48px;
   text-shadow: 2px 2px 9px rgba(0, 0, 0, 0.3);
}

.clock .text {
   height: 30px;
   font-size: 14px;
   letter-spacing: 2px;
   background-color: rgb(57, 159, 223);
   opacity: 0.9;
}

.clock #ampm {
   bottom: 40px;
   position: absolute;
   width: 60px;
   height: 30px;
   font-size: 20px;
   background-color: rgb(20, 60, 85);
   opacity: .9;
   color: white;
}